body {
  font-size: 100%;
  font-family: Open Sans; 
  background-color: #6494B7;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  display: none;
}

.positioning {
  position: relative;
  height: 100%;
  width: 100%;
  background:  #374550;
}

.icon {
  fill: #6494B7; 
  width: 7.5%;
  height: 7.5%;
}

//general animation function and color
@mixin anim-home($comp) {
	fill: #0F94b7;
	position: absolute;  
    animation:  $comp 2.5s cubic-bezier(0.1,0.25,0.1,1) 0s 1 forwards;
 //   animation:  $comp 1.5s cubic-bezier(0.1,0.25,0.1,1) 0s 1 forwards;
 //   animation: $comp 10s linear 1 forwards; 
}

////////////*  first C letter */////////////////////////////
@for $var from 1 through 7 {
	$fileName : movehome-#{$var};
	.first-letter-#{$var} {@include anim-home(#{$fileName});}
}

// move these variables to JS as object
$startLeft : 7.5%;
$startTop : 15%;
//$initLeft, $init_top. Build as an array/object to assign different fly patterns.  
//building formula for each letter as an object.   
//want a resuable "letter" module which can be called with partials for each letter

@keyframes movehome-1 {  0%   { left: 0; top: 0;}     100% { left: $startLeft; top: $startTop;}}
@keyframes movehome-2 {  0%   { left: 0; top: 100%;}  100% { left: $startLeft + 5%; top: $startTop;}}
@keyframes movehome-3 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft; top: $startTop + 5%;}}
@keyframes movehome-4 {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft; top: $startTop + 10%;}}
@keyframes movehome-5 {  0%   { left: 0; top: 0;}        100% { left: $startLeft; top: $startTop + 15%;}}
@keyframes movehome-6 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft; top: $startTop + 20%;}}
@keyframes movehome-7 {  0%   { left: 0; top: 100%;}     100% { left: $startLeft + 5%; top: $startTop + 20%;}}
/////////////////////////////////////////////////

///////////* The R letter  */////////////////////
@for $var from 1 through 10 {
	$fileName2 : movehome-2#{$var};
	.second-letter-#{$var} {@include anim-home(#{$fileName2});}
}

// move these (and others listed in first C) variables to JS as object
$startLeft2 : 22.5%;
$startTop2 : 15%;

@keyframes movehome-21   {  0%   { left: 0; top: 100%;}     100% { left: $startLeft2;  top: $startTop2;}}
@keyframes movehome-22   {  0%   { left: 100%; top: 0;}  100% { left: $startLeft2 + 5%; top: $startTop2;}}
@keyframes movehome-23   {  0%   { left: 0; top: 100%;}     100% { left: $startLeft2;  top: $startTop2 + 5%;}}
@keyframes movehome-24   {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft2 + 10%; top: $startTop2 + 5%;}}
@keyframes movehome-25   {  0%   { left: 0; top: 0;}        100% { left: $startLeft2;  top: $startTop2 + 10%;}}
@keyframes movehome-26   {  0%   { left: 0; top: 100%;}     100% { left: $startLeft2 + 5%; top: $startTop2 + 10%;}}
@keyframes movehome-27   {  0%   { left: 100%; top: 0;}     100% { left: $startLeft2;  top: $startTop2 + 15%;}}
@keyframes movehome-28   {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft2 + 10%; top: $startTop2 + 15%;}}
@keyframes movehome-29   {  0%   { left: 0; top: 0;}     100% { left: $startLeft2;  top: $startTop2 + 20%;}}
@keyframes movehome-210  {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft2 + 10%; top: $startTop2 + 20%;}}
///////////////////////////////


///////////* The A letter  */////////////////////
@for $var from 1 through 10 {
	$fileName3 : movehome-3#{$var};
	.third-letter-#{$var} {@include anim-home(#{$fileName3});}
}

// move these (and others listed in first C) variables to JS as object
// build moudule with only input parameters

$startLeft3 : 42.5%;
$startTop3 : 15%;

@keyframes movehome-31   {  0%   { left: 0; top: 100%;}     100% { left: $startLeft3 + 5%; top: $startTop3;}}
@keyframes movehome-32   {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft3; top: $startTop3 + 5%;}}
@keyframes movehome-33   {  0%   { left: 100%; top: 0;}     100% { left: $startLeft3 + 10%; top: $startTop3 + 5%;}}
@keyframes movehome-34   {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft3; top: $startTop3 + 10%;}}
@keyframes movehome-35   {  0%   { left: 0; top: 0;}        100% { left: $startLeft3 + 5%; top: $startTop3 + 10%;}}
@keyframes movehome-36   {  0%   { left: 0; top: 100%;}     100% { left: $startLeft3 + 10%; top: $startTop3 + 10%;}}
@keyframes movehome-37   {  0%   { left: 100%; top: 0;}     100% { left: $startLeft3; top: $startTop3 + 15%;}}
@keyframes movehome-38   {  0%   { left: 100%; top: 0;}     100% { left: $startLeft3 + 10%; top: $startTop3 + 15%;}}
@keyframes movehome-39   {  0%   { left: 100%; top: 0;}     100% { left: $startLeft3; top: $startTop3 + 20%;}}
@keyframes movehome-310  {  0%   { left: 100%; top: 0;}     100% { left: $startLeft3 + 10%; top: $startTop3 + 20%;}}
///////////////////////////////


///////////* The F letter  */////////////////////
@for $var from 1 through 7 {
	$fileName4 : movehome-4#{$var};
	.forth-letter-#{$var} {@include anim-home(#{$fileName4});}
}

// move these (and others listed in first C) variables to JS as object
// build moudule with only input parameters

$startLeft4 : 62.5%;
$startTop4 : 15%;

@keyframes movehome-41 {  0%   { left: 0; top: 100%;}     100% { left: $startLeft4; top: $startTop4;}}
@keyframes movehome-42 {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft4 + 5%; top: $startTop4 ;}}
@keyframes movehome-43 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft4; top: $startTop4 + 5%;}}
@keyframes movehome-44 {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft4; top: $startTop4 + 10%;}}
@keyframes movehome-45 {  0%   { left: 0; top: 0;}        100% { left: $startLeft4 + 5%; top: $startTop4 + 10%;}}
@keyframes movehome-46 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft4; top: $startTop4 + 15%;}}
@keyframes movehome-47 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft4; top: $startTop4 + 20%;}}
///////////////////////////////



///////////* The T letter  */////////////////////
@for $var from 1 through 7 {
	$fileName5 : movehome-5#{$var};
	.fifth-letter-#{$var} {@include anim-home(#{$fileName5});}
}

// move these (and others listed in first C) variables to JS as object
// build moudule with only input parameters

$startLeft5 : 77.5%;
$startTop5 : 15%;

@keyframes movehome-51 {  0%   { left: 0; top: 100%;}     100% { left: $startLeft5; top: $startTop5;}}
@keyframes movehome-52 {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft5 + 5%; top: $startTop5;}}
@keyframes movehome-53 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft5 + 10%; top: $startTop5;}}
@keyframes movehome-54 {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft5 + 5%; top: $startTop5 + 5%;}}
@keyframes movehome-55 {  0%   { left: 0; top: 0;}        100% { left: $startLeft5 + 5%; top: $startTop5 + 10%;}}
@keyframes movehome-56 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft5 + 5%; top: $startTop5 + 15%;}}
@keyframes movehome-57 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft5 + 5%; top: $startTop5 + 20%;}}
///////////////////////////////



////////////*  second C letter */////////////////////////////
@for $var from 1 through 7 {
	$fileName6 : movehome-6#{$var};
	.sixth-letter-#{$var} {@include anim-home(#{$fileName6});}
}

// move these variables to JS as object
$startLeft6 : 7.5%;
$startTop6 : 55%;
//$initLeft, $init_top. Build as an array/object to assign different fly patterns.  
//building formula for each letter as an object.   
//want a resuable "letter" module which can be called with partials for each letter

@keyframes movehome-61 {  0%   { left: 0; top: 0;}        100% { left: $startLeft6;      top: $startTop6;}}
@keyframes movehome-62 {  0%   { left: 0; top: 100%;}     100% { left: $startLeft6 + 5%; top: $startTop6;}}
@keyframes movehome-63 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft6;      top: $startTop6 + 5%;}}
@keyframes movehome-64 {  0%   { left: 100%; top: 100%;}  100% { left: $startLeft6;      top: $startTop6 + 10%;}}
@keyframes movehome-65 {  0%   { left: 0; top: 0;}        100% { left: $startLeft6;      top: $startTop6 + 15%;}}
@keyframes movehome-66 {  0%   { left: 100%; top: 0;}     100% { left: $startLeft6;      top: $startTop6 + 20%;}}
@keyframes movehome-67 {  0%   { left: 0; top: 100%;}     100% { left: $startLeft6 + 5%; top: $startTop6 + 20%;}}
/////////////////////////////////////////////////



///////////* The O letter  */////////////////////
// NOTE:  O kinda looks similar to an A
@for $var from 1 through 8 {
	$fileName7 : movehome-7#{$var};
	.seventh-letter-#{$var} {@include anim-home(#{$fileName7});}
}

// move these (and others listed in first C) variables to JS as object
// build moudule with only input parameters
$startLeft7 : 22.5%;
$startTop7: 55%;

@keyframes movehome-71   {  0%   { left:    0; top: 100%;}     100% { left: $startLeft7 + 5%;  top: $startTop7;}}
@keyframes movehome-72   {  0%   { left:    0; top: 100%;}     100% { left: $startLeft7; top: $startTop7 + 5%;}}
@keyframes movehome-73   {  0%   { left:    0; top: 100%;}     100% { left: $startLeft7 + 10%;  top: $startTop7 + 5%;}}
@keyframes movehome-74   {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft7; top: $startTop7 + 10%;}}
@keyframes movehome-75   {  0%   { left:    0; top: 0   ;}     100% { left: $startLeft7 + 10%;  top: $startTop7 + 10%;}}
@keyframes movehome-76   {  0%   { left:    0; top: 100%;}     100% { left: $startLeft7; top: $startTop7 + 15%;}}
@keyframes movehome-77   {  0%   { left: 100%; top: 0   ;}     100% { left: $startLeft7 + 10%;  top: $startTop7 + 15%;}}
@keyframes movehome-78   {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft7 + 5%; top: $startTop7 + 20%;}}

/////////////////////////////////////////////////



////////////*  The D letter */////////////////////////////
@for $var from 1 through 10 {
	$fileName8 : movehome-8#{$var};
	.eighth-letter-#{$var} {@include anim-home(#{$fileName8});}
}

// move these variables to JS as object
$startLeft8 : 42.5%;
$startTop8 : 55%;
//$initLeft, $init_top. Build as an array/object to assign different fly patterns.  
//building formula for each letter as an object.   
//want a resuable "letter" module which can be called with partials for each letter

@keyframes movehome-81  {  0%   { left: 0;    top: 0;}        100% { left: $startLeft8;        top: $startTop8;}}
@keyframes movehome-82  {  0%   { left: 0;    top: 100%;}     100% { left: $startLeft8 + 5%;   top: $startTop8;}}
@keyframes movehome-83  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft8;        top: $startTop8 + 5%;}}
@keyframes movehome-84  {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft8 + 10%;  top: $startTop8 + 5%;}}
@keyframes movehome-85  {  0%   { left: 0;    top: 0;}        100% { left: $startLeft8;        top: $startTop8 + 10%;}}
@keyframes movehome-86  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft8 + 10%;   top: $startTop8 + 10%;}}
@keyframes movehome-87  {  0%   { left: 0;    top: 100%;}     100% { left: $startLeft8 ;       top: $startTop8 + 15%;}}
@keyframes movehome-88  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft8 + 10%;  top: $startTop8 + 15%;}}
@keyframes movehome-89  {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft8;        top: $startTop8 + 20%;}}
@keyframes movehome-810 {  0%   { left: 0;    top: 0;}        100% { left: $startLeft8 + 5%;   top: $startTop8 + 20%;}}
/////////////////////////////////////////////////


///////////* The E letter  */////////////////////
@for $var from 1 through 8 {
	$fileName9 : movehome-9#{$var};
	.ninth-letter-#{$var} {@include anim-home(#{$fileName9});}
}

// move these (and others listed in first C) variables to JS as object
// build moudule with only input parameters

$startLeft9 : 62.5%;
$startTop9 : 55%;

@keyframes movehome-91  {  0%   { left: 0;    top: 0;}        100% { left: $startLeft9;        top: $startTop9;}}
@keyframes movehome-92  {  0%   { left: 0;    top: 100%;}     100% { left: $startLeft9 + 5%;   top: $startTop9;}}
@keyframes movehome-93  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft9;        top: $startTop9 + 5%;}}
@keyframes movehome-94  {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft9;        top: $startTop9 + 10%;}}
@keyframes movehome-95  {  0%   { left: 0;    top: 0;}        100% { left: $startLeft9 + 5%;   top: $startTop9 + 10%;}}
@keyframes movehome-96  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft9;        top: $startTop9 + 15%;}}
@keyframes movehome-97  {  0%   { left: 0;    top: 100%;}     100% { left: $startLeft9;        top: $startTop9 + 20%;}}
@keyframes movehome-98  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft9 + 5%;   top: $startTop9 + 20%;}}
///////////////////////////////


////////////*  second D letter */////////////////////////////
@for $var from 1 through 10 {
	$fileName10 : movehome-10#{$var};
	.tenth-letter-#{$var} {@include anim-home(#{$fileName10});}
}

// move these variables to JS as object
$startLeft10 : 77.5%;
$startTop10 : 55%;
//$initLeft, $init_top. Build as an array/object to assign different fly patterns.  
//building formula for each letter as an object.   
//want a resuable "letter" module which can be called with partials for each letter

@keyframes movehome-101  {  0%   { left: 0;    top: 0;}        100% { left: $startLeft10;        top: $startTop10;}}
@keyframes movehome-102  {  0%   { left: 0;    top: 100%;}     100% { left: $startLeft10 + 5%;   top: $startTop10;}}
@keyframes movehome-103  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft10;        top: $startTop10 + 5%;}}
@keyframes movehome-104  {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft10 + 10%;  top: $startTop10 + 5%;}}
@keyframes movehome-105  {  0%   { left: 0;    top: 0;}        100% { left: $startLeft10;        top: $startTop10 + 10%;}}
@keyframes movehome-106  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft10 + 10%;  top: $startTop10 + 10%;}}
@keyframes movehome-107  {  0%   { left: 0;    top: 100%;}     100% { left: $startLeft10 ;       top: $startTop10 + 15%;}}
@keyframes movehome-108  {  0%   { left: 100%; top: 0;}        100% { left: $startLeft10 + 10%;  top: $startTop10 + 15%;}}
@keyframes movehome-109  {  0%   { left: 100%; top: 100%;}     100% { left: $startLeft10;        top: $startTop10 + 20%;}}
@keyframes movehome-1010 {  0%   { left: 0;    top: 0;}        100% { left: $startLeft10 + 5%;   top: $startTop10 + 20%;}}
/////////////////////////////////////////////////

