body {
  font-size: 100%;
  font-family: Open Sans;
  background: url("../images/CraftCoded-bkrd.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

H1 {
  font-size: 3em;
  text-align: center;
  color: #A4CEFF;
}

img{
  max-width: 100%;
}